Bottleneck==1.3.7
Brotli==1.0.9
GitPython==3.1.43
Jinja2==3.1.4
Mako==1.3.5
MarkupSafe==2.1.3
PySocks==1.7.1
PyYAML==6.0.1
Pygments==2.17.2
SQLAlchemy==2.0.32
accelerate==1.0.1
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiohttp==3.9.5
aiosignal==1.2.0
aiosignal==1.3.1
alembic==1.13.2
annotated-types==0.6.0
anyio==4.2.0
appdirs==1.4.4
appnope==0.1.4
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
attrs==23.2.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==2.0.4
click==8.1.7
colorlog==6.8.2
comm==0.2.2
contourpy==1.2.0
cryptography==43.0.3
cycler==0.11.0
datasets==2.19.1
debugpy==1.6.7
decorator==5.1.1
dill==0.3.8
distro==1.9.0
docker-pycreds==0.4.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
filelock==3.13.1
fonttools==4.51.0
frozenlist==1.4.0
frozenlist==1.4.1
fsspec==2024.3.1
fsspec==2024.6.1
gitdb==4.0.11
gmpy2==2.1.2
gpytorch==1.12
h11==0.14.0
httpcore==1.0.2
httpx==0.27.0
huggingface_hub==0.24.6
idna==3.7
importlib_metadata==7.1.0
ipykernel==6.29.3
ipython==8.25.0
jaxtyping==0.2.30
jedi==0.19.1
jiter==0.6.1
joblib==1.4.2
jupyter_client==8.6.1
jupyter_core==5.7.2
kiwisolver==1.4.4
linear-operator==0.5.2
matplotlib-inline==0.1.7
matplotlib==3.9.2
mpmath==1.3.0
multidict==6.0.4
multidict==6.0.5
multiprocess==0.70.15
nest-asyncio==1.6.0
networkx==3.3
numexpr==2.8.7
numpy==1.26.4
openai==1.51.2
openpyxl==3.1.5
optuna==3.6.1
packaging==24.1
pandas==2.2.2
parso==0.8.4
pathtools==0.1.2
pdfminer.six==20240706
pdfminer==20191125
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
pip==24.0
platformdirs==4.2.1
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.8.2
pydantic_core==2.20.1
pyparsing==3.0.9
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
pyzmq==25.1.2
regex==2024.9.11
requests==2.32.2
safetensors==0.4.4
scikit-learn==1.4.2
scikit-learn==1.5.1
scipy==1.12.0
scipy==1.14.0
sentry-sdk==2.13.0
setproctitle==1.3.3
setuptools==69.5.1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
stack-data==0.6.2
sympy==1.12
threadpoolctl==3.5.0
tokenizers==0.20.0
torch-cluster==1.6.3
torch-scatter==2.1.2
torch-sparse==0.6.18
torch==2.3.1
torch_geometric==2.5.3
torchaudio==2.3.1
torchvision==0.18.1
tornado==6.4.1
tqdm==4.66.4
tqdm==4.66.5
traitlets==5.14.3
transformers==4.45.2
typeguard==2.13.3
typing_extensions==4.11.0
tzdata==2023.3
ujson==5.10.0
unicodedata2==15.1.0
urllib3==2.2.2
wandb==0.16.6
wcwidth==0.2.13
wheel==0.43.0
xgboost==2.0.3
xxhash==2.0.2
yarl==1.11.0
yarl==1.9.4
zipp==3.17.0